{
  "env": {
      "es2021": true,
      "node": true
  },
  "extends": [
      "airbnb-base"
  ],
  "parserOptions": {
      "ecmaVersion": "latest"
  },
  "rules": {
    "no-underscore-dangle": ["error", {"allow": ["_id"]}],
    "object-curly-spacing": "off",
    "import/extensions": "off",
    "consistent-return": "off"
  }
}